# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log

# Dependency directories
pids/
*.pid
*.seed
*.pid.lock

# Production
dist/
build/

# Testing
test/

# Environment variables
.env

# IDE and editor files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
